# How to draw a Gantt chart using Python

* https://towardsdatascience.com/gantt-charts-with-pythons-matplotlib-395b7af72d72
* https://stackoverflow.com/questions/43367690/how-to-get-gantt-plot-using-matplotlib
* https://stackoverflow.com/questions/31820578/how-to-plot-stacked-event-duration-gantt-charts-using-python-pandas

In [1]:
import pandas
import matplotlib.pyplot as plt
import datetime
import random
import time
import sys

In [2]:
sys.version

'3.10.8 | packaged by conda-forge | (main, Nov 22 2022, 08:26:04) [GCC 10.4.0]'

In [3]:
import matplotlib
print(matplotlib. __version__)

3.6.2

In [4]:
pandas.__version__

'1.5.2'

In [5]:
# source: https://stackoverflow.com/a/553320/1164295
    
def random_date(start, end, time_format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formatted in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, time_format))
    etime = time.mktime(time.strptime(end, time_format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(time_format, time.localtime(ptime))

In [6]:
random_date("2008-12-23", 
            "2009-05-03", 
            '%Y-%m-%d',    # https://strftime.org/
            random.random())

'2009-02-07'

In [7]:
overall_start_date = "2008-12-23"
number_of_children = 2

In [8]:
list_of_jobs = [
    {'job id': 1, 
     'job duration in days, best case': 4,
     'job duration in days, worst case': 6,
     'follow-on jobs': [2, 3]},
    {'job id': 2, 
     'job duration in days, best case': 1,
     'job duration in days, worst case': 8,
     'follow-on jobs': [4]},
    {'job id': 3, 
     'job duration in days, best case': 10,
     'job duration in days, worst case': 11,
     'follow-on jobs': [5]},
    {'job id': 4, 
     'job duration in days, best case': 5,
     'job duration in days, worst case': 6,
     'follow-on jobs': []},
    {'job id': 5, 
     'job duration in days, best case': 2,
     'job duration in days, worst case': 5,
     'follow-on jobs': []}
]

In [9]:
df = pandas.DataFrame(list_of_jobs)

In [10]:
df

,job id,"job duration in days, best case","job duration in days, worst case",follow-on jobs
0,1,4,6,"[2, 3]"
1,2,1,8,[4]
2,3,10,11,[5]
3,4,5,6,[]
4,5,2,5,[]

In [11]:
min(df['job id'])

1

In [12]:
df[df['job id']==1]

,job id,"job duration in days, best case","job duration in days, worst case",follow-on jobs
0,1,4,6,"[2, 3]"

In [13]:
df.at[0,'start date'] = "2008-12-23"
df

,job id,"job duration in days, best case","job duration in days, worst case",follow-on jobs,start date
0,1,4,6,"[2, 3]",2008-12-23
1,2,1,8,[4],NaN
2,3,10,11,[5],NaN
3,4,5,6,[],NaN
4,5,2,5,[],NaN

In [14]:
for k, row in df.iterrows():
    print(row)

job id                                       1
job duration in days, best case              4
job duration in days, worst case             6
follow-on jobs                          [2, 3]
start date                          2008-12-23
Name: 0, dtype: object
job id                                2
job duration in days, best case       1
job duration in days, worst case      8
follow-on jobs                      [4]
start date                          NaN
Name: 1, dtype: object
job id                                3
job duration in days, best case      10
job duration in days, worst case     11
follow-on jobs                      [5]
start date                          NaN
Name: 2, dtype: object
job id                                4
job duration in days, best case       5
job duration in days, worst case      6
follow-on jobs                       []
start date                          NaN
Name: 3, dtype: object
job id                                5
job duration in days, best case       2
job duration in days, worst case      5
follow-on jobs                       []
start date                          NaN
Name: 4, dtype: object

In [15]:
print(random.randint(0, 9))

0

In [16]:
def create_random_schedule(df):
    """
    """
    
    return df

In [17]:
df_instance = create_random_schedule(df)

In [18]:
df_instance

,job id,"job duration in days, best case","job duration in days, worst case",follow-on jobs,start date
0,1,4,6,"[2, 3]",2008-12-23
1,2,1,8,[4],NaN
2,3,10,11,[5],NaN
3,4,5,6,[],NaN
4,5,2,5,[],NaN

TODO: convert `df_instance` to tidy data


plt.barh(df['job id'], df['job duration in days, best case'], left=df.start_num)